@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
}
:root {
  --oreng: #ef7c00;
  --orengg: rgb(174, 90, 0) 0;
}
html,
body {
  font-family: "Montserrat", serif;
}
hr {
  width: 1.2px;
  height: 15px;
  margin-top: 3px;
  background-color: #00103d1f;
  border: none;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 4px 32px 0px #00103d69;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: #2c2d2e;
  ul {
    display: flex;
    align-items: center;
    li {
      list-style-type: none;
      display: flex;
      gap: 16px;
      a {
        text-decoration: none;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #2c2d2e;
        font-size: 16px;
        transition: 0.3s;
        &:hover {
          color: #ef7c00;
        }
      }
    }
  }
  .nav-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    a {
      text-decoration: none;
      color: #919399;
      font-size: 13px;
      &:hover {
        color: var(--oreng);
      }
    }
  }
}
main {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.082);
    background-blend-mode: darken;
    padding: 162px 116px 154px;
    .left {
      max-width: 582px;
      p {
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        text-align: left;
      }
      h4 {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        text-align: left;
        margin-top: 16px;
      }
      h2 {
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 17px;
        text-align: left;
      }
      button {
        margin-top: 17px;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
        background-color: var(--oreng);
        &:hover {
          background-color: #d37510;
          cursor: pointer;
        }
      }
    }
  }
  .one_pg {
    h1 {
      text-align: center;
      padding-bottom: 32px;
      span {
        color: #f07c00;
      }
    }
    .one_pg_1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .one_pg-2 {
        max-width: 552px;
        p {
          font-family: Montserrat;
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
  .cardsss {
    margin: 48px 0 40px;
    h1 {
      font-family: Montserrat;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      span {
        color: #ef7c00;
      }
    }
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 32px;
    }
  }
  .two_pg {
    h1 {
      font-family: Montserrat;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      span {
        color: #ef7c00;
      }
    }
    .two_pg_btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 16px;
      gap: 16px;
      button {
        padding: 12.5px 20px;
        border-radius: 20px;
        border: 0.5px solid rgba(0, 0, 0, 0.231);
        font-family: Montserrat;
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        text-align: center;
        color: #ef7c00;
        background-color: white;
        transition: all ease-in-out 0.7s;
        cursor: pointer;
        &:hover {
          background-color: #ef7c00;
          color: white;
          border: 0.5px solid rgb(255, 255, 255);
        }
      }
    }
    .two_pg_cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 32px 0;
    }
    .btn_Eww {
      padding: 12.5px 20px;
      border: 1px solid #ef7c00;
      border-radius: 4px;
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      background-color: white;
      display: block;
      margin: 0 auto;
      transition: all ease-in-out 0.4s;
      &:hover {
        background-color: #ef7c00;
        color: white;
        cursor: pointer;
      }
    }
  }
  .forom_img {
    background-image: url(../assets/form.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 24px 20px 36px;
    h1 {
      font-family: Montserrat;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: left;
      span {
        color: #f07c00;
      }
    }
    p {
      font-family: Montserrat;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      max-width: 400px;
      margin-top: 16px;
    }
    form {
      margin-top: 12px;
      .uses {
        display: flex;
        align-items: center;
        gap: 12px;
        .use_1 {
          input {
            padding: 12px 12px 10px 44px;
            position: relative;
            border-radius: 4px;
            border: 0.5px solid rgba(0, 0, 0, 0.438);
          }
          img {
            position: absolute;
            left: 140px;
          }
        }
        .use_2 {
          input {
            padding: 12px 12px 10px 44px;
            position: relative;
            border-radius: 4px;
            border: 0.5px solid rgba(0, 0, 0, 0.438);
          }
          img {
            position: absolute;
            left: 260px;
          }
        }
      }
    }
    .textArea {
      margin: 12px 0 10px;
      width: 36.4%;
      height: 80px;
    }
  }
  .one_pg-people {
    margin-top: 16px;
    gap: 16px;
    h1 {
      font-family: Montserrat;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      span {
        color: #ef7c00;
      }
    }
    .people-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .people_card {
        max-width: 204px;
        img {
          border-radius: 100px;
        }
        h5 {
          font-family: Montserrat;
          font-size: 15px;
          font-weight: 700;
          line-height: 20px;
          text-align: center;
          padding-top: 12px;
        }
        p {
          font-family: Montserrat;
          font-size: 13px;
          font-weight: 300;
          line-height: 13px;
          text-align: center;
          padding-top: 4px;
        }
        span {
          font-family: Montserrat;
          font-size: 13px;
          font-weight: 500;
          line-height: 13px;
          text-align: center;
          margin-top: 8px;
          padding-top: 16px;
        }
      }
    }
    button {
      padding: 10px 20px 10px 20px;
      border-radius: 4px;
      border: 1px solid #ef7c00;
      background-color: white;
      margin-top: 32px;
      display: block;
      margin: 32px auto;
      transition: all ease-in-out 0.4s;
      cursor: pointer;
      &:hover {
        background-color: #ef7c00;
        color: white;
      }
    }
  }
  .footer {
    h1 {
      font-family: Montserrat;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      text-align: center;
      margin-bottom: 16px;
    }
    .footer_cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .footer_card {
        img {
          width: 100%;
          height: 203px;
        }
        h6 {
          font-family: Montserrat;
          font-size: 13px;
          font-weight: 500;
          line-height: 13px;
          text-align: left;
          color: #919399;
          margin-top: 24px;
        }
        p {
          font-family: Montserrat;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          color: #2c2d2e;
          margin-top: 8px;
        }
      }
    }
    .footer_card_2 {
      max-width: 319px;
    }
    .footer_card_3 {
      max-width: 319px;
    }
    button {
      padding: 10px 20px 10px 20px;
      border-radius: 4px;
      border: 1px solid #ef7c00;
      background-color: white;
      margin-top: 32px;
      display: block;
      margin: 32px auto;
      transition: all ease-in-out 0.4s;
      cursor: pointer;
      &:hover {
        background-color: #ef7c00;
        color: white;
      }
    }
  }
}
